@import "tailwindcss";
/* to keep theme dark mode */
@custom-variant dark (&:is(.dark *));

.cl-userButtonAvatarBox {
  height: 35px;
  width: 35px;
}

.scrollbar-hidden::-webkit-scrollbar {
  display: none;
}
.scrollbar-hidden {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
